# Xcode
.DS_Store
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code coverage
*.gcov
*.gcda
*.gcno

# AppCode
.idea/

# Build
build/
Build/
